html{
    text-align: center;
}
body {
    font-family: Arial, Helvetica, sans-serif;

}
a {
    text-decoration: none;
}
p {
    text-align: left;
    padding: 0 1rem;
}
.container {
    margin: 0 auto;
    border: 1px dotted black;
    width: 70%;
    height: auto;
}
.texto {


    color: green;


    text-transform: capitalize;
}
.cabecera {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
.cabecera h1 {
    font-weight: 600;
}

.text-footer {
    padding: 0.5rem;
    background-color: grey;
}