html{
    text-align: center;
}
body {
    font-family: 'Courier New', Courier, monospace;

}

.container {
    margin: 0 auto;
    border: 1px dotted black;
    width: 70vw;
    height: 30vh;
}
.texto {
    color: blue;
    text-transform: capitalize;
}